@media screen and (max-width: 992px) {
    #desktop-nav{
        display: none;
    }

    .down-arrow{
        display: none; 
    }

    #hamburger-nav{
        display:  flex;
    }

}

@media screen and (max-width: 767px){
    .education-list{
        padding-left: 0;
    }

    footer nav{
        padding-bottom: 10rem;
    }

}

@media screen and (max-width: 479px){
    .certificate-list{
        padding-left: 0rem;
    }

}

